
.container{
  margin: 0 auto;
    max-width: 1280px;
    max-height: 600px;
    width:100%;
}
.container_large{
  margin: 0 auto;
    max-width: 1280px;
    max-height: 1228px;
    width:100%;
}
#indexSlides_1{
  margin: 0 auto;
  background-image: url("../image/news_cover.jpg");
  opacity: 1;
  width: 100%;
  height: 550px;
  background-size: 100% 550px;
  background-repeat:no-repeat;
}
.logo{
  background-image: url("../image/logo.gif");
  position:absolute;
  margin-left: 0px;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-size: 65px 60px;
  background-repeat: no-repeat;
}
.logo_world_ch{
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 80px;
  margin-top: 20px;
}
.logo_world_en{
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 80px;
  margin-top: 40px;
}
.world_about{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 650px;
  margin-top: 27px;
}
.world_new{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 750px;
  margin-top: 27px;
}
.world_guide{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 850px;
  margin-top: 27px;
}
.world_axchange{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 950px;
  margin-top: 27px;
}
.world_contact{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 1050px;
  margin-top: 27px;
}
.world_main_ch{
  color:white;
  font-weight: bold;
  font-style: italic;
  position:absolute;
  font-size: 34pt;
  margin-left: 240px;
  margin-top: 330px;
}
.world_main_en{
  color:white;
  font-style: italic;
  position:absolute;
  font-size: 34pt;
  margin-left: 120px;
  margin-top: 400px;
}
#indexSlides_2{
  margin: 0 auto;
  background-image: url("../image/border.png");
  width: 100%;
  height: 80px;
  background-size: 100% 80px;
  background-repeat:no-repeat;
}
.home_logo{
  position: absolute;
  background-image: url("../image/home_icon.png");
  z-index: 2;
  margin-left: 70px;
  margin-top: 32px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat:no-repeat;
}
.link_SS{
  position: absolute;
  margin-left: 124px;
  margin-top: 28px;
  font-size: 16pt;
  color:black;
}
.container_mini{
  margin: 0 auto;
    max-width: 1280px;
    max-height: 80px;
    width:100%;
}
#indexSlides_3{
  margin: 0 auto;
  background-image: url("../image/news_bg.jpg");
  width: 100%;
  height: 1228px;
  background-size: 100% 1228px;
  background-repeat:no-repeat;
}
.img_1{
  position:absolute;
  background-image: url("../image/news_pic1.jpg");
  margin-left: 148px;
  margin-top: 57px;
  width: 370px;
  height: 200px;
  background-size: 370px 200px;
  background-repeat:no-repeat;
}
.line_1{
  position:absolute;
  border-top-style:solid;
  border-top-width:medium;
  margin-left: 148px;
  margin-top: 271px;
  width: 985px;
  background-repeat:no-repeat;
}
.border_1{
    margin-top: 107px;
    margin-left: 622px;
    position: absolute;
    opacity: 0.5;
    width:504px;
    height: 100px;
    background-color: black;
}
.text_1{
  margin-top: 117px;
  margin-left: 632px;
  font-weight: bold;
  font-size: 14pt;
  position: absolute;
  color:#F0F8FF ;
}
.text_2{
  margin-top: 333px;
  margin-left: 632px;
  font-weight: bold;
  font-size: 14pt;
  position: absolute;
  color:#F0F8FF ;
}
.text_3{
  margin-top: 569px;
  margin-left: 632px;
  font-weight: bold;
  font-size: 14pt;
  position: absolute;
  color:#F0F8FF ;
}
.text_4{
  margin-top: 799px;
  margin-left: 632px;
  font-weight: bold;
  font-size: 14pt;
  position: absolute;
  color:#F0F8FF ;
}
.text_5{
  margin-top: 1030px;
  margin-left: 632px;
  font-weight: bold;
  font-size: 14pt;
  position: absolute;
  color:#F0F8FF ;
}
.border_2{
    margin-top: 323px;
    margin-left: 622px;
    position: absolute;
    opacity: 0.5;
    width:504px;
    height: 100px;
    background-color: black;
}
.border_3{
    margin-top: 559px;
    margin-left: 622px;
    position: absolute;
    opacity: 0.5;
    width:504px;
    height: 100px;
    background-color: black;
}
.border_4{
    margin-top: 790px;
    margin-left: 622px;
    position: absolute;
    opacity: 0.5;
    width:504px;
    height: 100px;
    background-color: black;
}
.border_5{
    margin-top: 1017px;
    margin-left: 622px;
    position: absolute;
    opacity: 0.5;
    width:504px;
    height: 100px;
    background-color: black;
}
.img_2{
  position:absolute;
  background-image: url("../image/news_pic2.jpg");
  margin-left: 148px;
  margin-top: 287px;
  width: 370px;
  height: 200px;
  background-size: 370px 200px;
  background-repeat:no-repeat;
}
.line_2{
  position:absolute;
  border-top-style:solid;
  border-top-width:medium;
  margin-left: 148px;
  margin-top: 501px;
  width: 985px;

  background-repeat:no-repeat;
}
.img_3{
  position:absolute;
  background-image: url("../image/news_pic3.jpg");
  margin-left: 148px;
  margin-top: 517px;
  width: 370px;
  height: 200px;
  background-size: 370px 200px;
  background-repeat:no-repeat;
}
.line_3{
  position:absolute;
  border-top-style:solid;
  border-top-width:medium;
  margin-left: 148px;
  margin-top: 731px;
  width: 985px;

  background-repeat:no-repeat;
}
.img_4{
  position:absolute;
  background-image: url("../image/news_pic4.png");
  margin-left: 148px;
  margin-top: 747px;
  width: 370px;
  height: 200px;
  background-size: 370px 200px;
  background-repeat:no-repeat;
}
.line_4{
  position:absolute;
  border-top-style:solid;
  border-top-width:medium;
  margin-left: 148px;
  margin-top: 961px;
  width: 985px;
  background-repeat:no-repeat;
}
.img_5{
  position:absolute;
  background-image: url("../image/news_pic5.PNG");
  margin-left: 148px;
  margin-top: 977px;
  width: 370px;
  height: 200px;
  background-size: 370px 200px;
  background-repeat:no-repeat;
}

#foother_slides{
  margin: 0 auto;
  background-image: url("../image/footer_bg.jpg");
  width: 100%;
  height: 200px;
  background-size: 100% 200px;
  background-repeat:no-repeat;
}
.footer_map{
  position: absolute;
  background-image: url("../image/footer_pic.jpg");
  margin-left: 215px;
  margin-top: 22.5px;
  z-index: 3;
  width: 305px;
  height: 155px;
  background-size: 305px 155px;
  background-repeat:no-repeat;
}
.footer_bg_white{
  position: absolute;
  background-image: url("../image/footer_pic2.png");
  margin-left: 210px;
  margin-top: 17.5px;
  width: 315px;
  height: 165px;
  background-size: 315px 165px;
  background-repeat:no-repeat;
}
