
.container{
  margin: 0 auto;
    max-width: 1280px;
    max-height: 600px;
    width:100%;
}
#indexSlides_1{
  margin: 0 auto;
  background-image: url("../image/exchange_cover.jpg");
  opacity: 1;
  width: 100%;
  height: 550px;
  background-size: 100% 550px;
  background-repeat:no-repeat;
}
.logo{
  background-image: url("../image/logo.gif");
  position:absolute;
  margin-left: 0px;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-size: 65px 60px;
  background-repeat: no-repeat;
}
.logo_world_ch{
  color:black;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 80px;
  margin-top: 20px;
}
.logo_world_en{
  color:black;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 80px;
  margin-top: 40px;
}
.logo_world_ch1{
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 78px;
  margin-top: 18px;
}
.logo_world_en1{
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 79px;
  margin-top: 38px;
}

.language_en1{
  color:white;
  font-style: italic;
  font-size: 10pt;
  position:absolute;
  margin-left: 1078px;
  margin-top: 3px;
}
.language_line1{
  color:white;
  font-style: italic;
  font-size: 12pt;
  position:absolute;
  margin-left: 1101px;
  margin-top: 2px;
}
.language_ch1{
  color:white;
  font-style: italic;
  font-size: 10pt;
  position:absolute;
  margin-left: 1108px;
  margin-top: 4px;
}
.language_en{
  color:black;
  font-style: italic;
  font-size: 10pt;
  position:absolute;
  margin-left: 1080px;
  margin-top: 5px;
}
.language_line{
  color:black;
  font-style: italic;
  font-size: 12pt;
  position:absolute;
  margin-left: 1103px;
  margin-top: 4px;
}
.language_ch{
  color:black;
  font-style: italic;
  font-size: 10pt;
  position:absolute;
  margin-left: 1110px;
  margin-top: 6px;
}
.world_about{
  color:black;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 650px;
  margin-top: 27px;
}
.world_new{
  color:black;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 750px;
  margin-top: 27px;
}
.world_guide{
  color:black;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 850px;
  margin-top: 27px;
}
.world_axchange{
  color:black;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 950px;
  margin-top: 27px;
}
.world_contact{
  color:black;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 1050px;
  margin-top: 27px;
}

.world_about1{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 648px;
  margin-top: 25px;
}
.world_new1{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 748px;
  margin-top: 25px;
}
.world_guide1{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 848px;
  margin-top: 25px;
}
.world_axchange1{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 948px;
  margin-top: 25px;
}
.world_contact1{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 1048px;
  margin-top: 25px;
}


.world_main_ch{
  z-index: 5;
  color:black;
  font-style: italic;
  position:absolute;
  font-size: 60pt;
  margin-left: 216px;
  margin-top: 330px;
}
.world_main_ch_p{
  color:white;
  font-style: italic;
  position:absolute;
  font-size: 60pt;
  margin-left: 218px;
  margin-top: 328px;
}
.world_main_en{
  z-index: 5;
  color:black;
  font-style: italic;
  position:absolute;
  font-size: 34pt;
  margin-left: 543px;
  margin-top: 451px;
}
.world_main_en_p{
  color:white;
  font-style: italic;
  position:absolute;
  font-size: 34pt;
  margin-left: 545px;
  margin-top: 450px;
}
#indexSlides_2{
  margin: 0 auto;
  background-image: url("../image/border.png");
  width: 100%;
  height: 80px;
  background-size: 100% 80px;
  background-repeat:no-repeat;
}
.home_logo{
  position: absolute;
  background-image: url("../image/home_icon.png");
  z-index: 2;
  margin-left: 70px;
  margin-top: 32px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat:no-repeat;
}
.link_SS{
  position: absolute;
  margin-left: 124px;
  margin-top: 28px;
  font-size: 16pt;
  color:black;
}
.container_mini{
  margin: 0 auto;
    max-width: 1280px;
    max-height: 80px;
    width:100%;
}
#indexSlides_3{
  margin: 0 auto;
  background-image: url("../image/exchange_bg.jpg");
  width: 100%;
  height: 1228px;
  background-size: 100% 1228px;
  background-repeat:no-repeat;
}
#foother_slides{
  margin: 0 auto;
  background-image: url("../image/footer_bg.jpg");
  width: 100%;
  height: 200px;
  background-size: 100% 200px;
  background-repeat:no-repeat;
}
.footer_map{
  position: absolute;
  background-image: url("../image/footer_pic.jpg");
  margin-left: 215px;
  margin-top: 22.5px;
  z-index: 3;
  width: 305px;
  height: 155px;
  background-size: 305px 155px;
  background-repeat:no-repeat;
}
.footer_bg_white{
  position: absolute;
  background-image: url("../image/footer_pic2.png");
  margin-left: 210px;
  margin-top: 17.5px;
  width: 315px;
  height: 165px;
  background-size: 315px 165px;
  background-repeat:no-repeat;
}
