
.container{
  margin: 0 auto;
    max-width: 1280px;
    max-height: 600px;
    width:100%;
}
.container_mini{
  margin: 0 auto;
    max-width: 1280px;
    max-height: 80px;
    width:100%;
}
.container_large{
  margin: 0 auto;
    max-width: 1280px;
    max-height: 3000px;
    width:100%;
}
#indexSlides_1{
  margin: 0 auto;
  background-image: url("../image/guide_cover.jpg");
  opacity: 1;
  width: 100%;
  height: 550px;
  background-size: 100% 550px;
  background-repeat:no-repeat;
}
.logo{
  background-image: url("../image/logo.gif");
  position:absolute;
  margin-left: 0px;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-size: 65px 60px;
  background-repeat: no-repeat;
}
.logo_world_ch{
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 80px;
  margin-top: 20px;
}
.logo_world_en{
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 80px;
  margin-top: 40px;
}
.world_about{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 650px;
  margin-top: 27px;
}
.world_new{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 750px;
  margin-top: 27px;
}
.world_guide{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 850px;
  margin-top: 27px;
}
.world_axchange{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 950px;
  margin-top: 27px;
}
.world_contact{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 1050px;
  margin-top: 27px;
}
.world_main_ch{
  color:white;
  font-weight: bold;
  font-style: italic;
  position:absolute;
  font-size: 34pt;
  margin-left: 240px;
  margin-top: 330px;
}
.world_main_en{
  color:white;
  font-style: italic;
  position:absolute;
  font-size: 34pt;
  margin-left: 120px;
  margin-top: 400px;
}
#indexSlides_2{
  margin: 0 auto;
  background-image: url("../image/border.png");
  width: 100%;
  height: 80px;
  background-size: 100% 80px;
  background-repeat:no-repeat;
}
.home_logo{
  position: absolute;
  background-image: url("../image/home_icon.png");
  z-index: 2;
  margin-left: 70px;
  margin-top: 32px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat:no-repeat;
}
.link_SS{
  position: absolute;
  margin-left: 124px;
  margin-top: 28px;
  font-size: 16pt;
  color:black;
}
.container_panel{
  position:absolute;
  margin-top: 110px;
  width: 1280px;
  height: 370px;
}
.panel_body1{
  font-style: italic;
  margin-left: -30px;
  color: black;
  font-size: 10pt;
}
.panel-heading_1{
  border-radius: 4px;
  background-color:#b2adad;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.panel-heading_2{
  border-radius: 4px;
  background-color:#a5e2a5 ;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.panel-heading_3{
  border-radius: 4px;
  background-color:rgba(255, 156, 0, 0.65);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.panel-heading_4{
  border-radius: 4px;
  background-color:rgba(255, 0, 0, 0.64);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.panel-heading_5{
  border-radius: 4px;
  background-color:#b2adad;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.panel-heading_6{
  border-radius: 4px;
  background-color:#a5e2a5 ;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.panel-heading_7{
  border-radius: 4px;
  background-color:rgba(255, 156, 0, 0.65);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.panel-heading_8{
  border-radius: 4px;
  background-color:rgba(255, 0, 0, 0.64);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.panel-heading_1, .panel-heading_2, .panel-heading_3, .panel-heading_4, .panel-heading_5, .panel-heading_6, .panel-heading_7, .panel-heading_8{
  border-bottom:10;
}
.panel-heading_1 span, .panel-heading_2 span, .panel-heading_3 span, .panel-heading_4 span, .panel-heading_5 span, .panel-heading_6 span, .panel-heading_7 span, .panel-heading_8 span  {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.panel-heading_1 span:after, .panel-heading_2 span:after, .panel-heading_3 span:after, .panel-heading_4 span:after, .panel-heading_5 span:after, .panel-heading_6 span:after, .panel-heading_7 span:after, .panel-heading_8 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 1.5s;
}
.panel-heading_1:hover span, .panel-heading_2:hover span, .panel-heading_3:hover span, .panel-heading_4:hover span, .panel-heading_5:hover span, .panel-heading_6:hover span, .panel-heading_7:hover span, .panel-heading_8:hover span {
  padding-right: 105px;
}
#wrapper_1, #wrapper_2, #wrapper_3, #wrapper_4, #wrapper_5, #wrapper_6, #wrapper_7, #wrapper_8 {
  overflow: hidden;
  transition: height 1500ms;
}
.text{
  border-bottom-style: dotted;
  margin-left: 8px;
  font-weight: bold;
  font-size: 22pt;
  color:black;
  font-style: italic;
}
#list_1 div{
  display: inline-block;
  border-radius: 4px;
  background-color: #b2adad;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
box-shadow: 0 9px #999;
}

#list_1 a{
  font-size: 30px;
  padding-top: 100px;
}

#list_1 div:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#list_2 div{
  display: inline-block;
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
box-shadow: 0 9px #999;
}

#list_2 a{
  font-size: 30px;
  padding-top: 100px;
}

#list_2 div:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#list_3 div{
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(255, 156, 0, 0.65);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
box-shadow: 0 9px #999;
}

#list_3 a{
  font-size: 30px;
  padding-top: 100px;
}
#list_3 div:hover {background-color: red}

#list_3 div:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#list_4 div{
  display: inline-block;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.64);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
box-shadow: 0 9px #999;
}

#list_4 a{
  font-size: 30px;
  padding-top: 100px;
}
#list_4 div:hover {background-color: #3e8e41}

#list_4 div:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}
#list_1 .panel_body1:hover {background-color: black}
#list_1 .panel_body2:hover {background-color: rgba(255, 156, 0, 0.65)}
#list_1 .panel_body3:hover {background-color: rgba(255, 0, 0, 0.64)}
#list_1 .panel_body4:hover {background-color: black;}
#list_1 .panel_body5:hover {background-color: #333333}
#list_1 .panel_body6:hover {background-color: #CC00FF}
#list_1 .panel_body7:hover {background-color: #99FFFF}
#list_1 .panel_body8:hover {background-color: #33FF33}
#list_1 .panel_body10:hover {background-color: rgba(255, 156, 0, 0.65)}
#list_1 .panel_body9:hover {background-color: #EEEE00}
#list_2 .panel_body1:hover {background-color: black}
#list_2 .panel_body2:hover {background-color: rgba(255, 156, 0, 0.65)}
#list_2 .panel_body3:hover {background-color: rgba(255, 0, 0, 0.64)}
#list_2 .panel_body4:hover {background-color: black;}
#list_2 .panel_body5:hover {background-color: #333333}
#list_2 .panel_body6:hover {background-color: #CC00FF}
#list_2 .panel_body7:hover {background-color: #99FFFF}
#list_2 .panel_body8:hover {background-color: #33FF33}
#list_2 .panel_body10:hover {background-color: rgba(255, 156, 0, 0.65)}
#list_2 .panel_body9:hover {background-color: #EEEE00}
#list_4 .panel_body1:hover {background-color: black}
#list_4 .panel_body2:hover {background-color: rgba(255, 156, 0, 0.65)}
#list_4 .panel_body3:hover {background-color: #CC00FF}
#list_4 .panel_body4:hover {background-color: black;}
#list_4 .panel_body5:hover {background-color: #333333}
#list_4 .panel_body6:hover {background-color: #CC00FF}
#list_4 .panel_body7:hover {background-color: #99FFFF}
#list_4 .panel_body8:hover {background-color: #33FF33}
#list_4 .panel_body10:hover {background-color: rgba(255, 156, 0, 0.65)}
#list_4 .panel_body9:hover {background-color: #EEEE00}
#list_3 .panel_body1:hover {background-color: black}
#list_3 .panel_body2:hover {background-color: rgba(255, 156, 0, 0.65)}
#list_3 .panel_body3:hover {background-color: rgba(255, 0, 0, 0.64)}
#list_3 .panel_body4:hover {background-color: black;}
#list_3 .panel_body5:hover {background-color: #333333}
#list_3 .panel_body6:hover {background-color: #CC00FF}
#list_3 .panel_body7:hover {background-color: #99FFFF}
#list_3 .panel_body8:hover {background-color: #33FF33}
#list_3 .panel_body10:hover {background-color: rgba(255, 156, 0, 0.65)}
#list_3 .panel_body9:hover {background-color: black}

.panel_body1:hover {background-color: black}
.panel_body2:hover {background-color: rgba(255, 156, 0, 0.65)}
.panel_body3:hover {background-color: rgba(255, 0, 0, 0.64)}
.panel_body4:hover {background-color: #b2adad;}
.panel_body5:hover {background-color: #3333}
.panel_body6:hover {background-color: #CC00FF}
.panel_body7:hover {background-color: #99FFFF}
.panel_body8:hover {background-color: #33FF33}
.panel_body9:hover {background-color: #EEEE00}
.panel_body10:hover {background-color: rgba(255, 156, 0, 0.65)}



#indexSlides_3{
  margin: 0 auto;
  background-image: url("../image/guide_bg.jpg");
  width: 100%;
  height: 1000px;
  background-size: 100% 1000px;
  background-repeat:no-repeat;
}
#foother_slides{
  margin: 0 auto;
  background-image: url("../image/footer_bg.jpg");
  width: 100%;
  height: 200px;
  background-size: 100% 200px;
  background-repeat:no-repeat;
}
.footer_map{
  position: absolute;
  background-image: url("../image/footer_pic.jpg");
  margin-left: 215px;
  margin-top: 22.5px;
  z-index: 3;
  width: 305px;
  height: 155px;
  background-size: 305px 155px;
  background-repeat:no-repeat;
}
.footer_bg_black{
  position: absolute;
  background-image: url("../image/footer_pic2.png");
  margin-left: 210px;
  margin-top: 17.5px;
  width: 315px;
  height: 165px;
  background-size: 315px 165px;
  background-repeat:no-repeat;
}

.footer_bg_white{
  position: absolute;
  background-image: url("../image/footer_pic2.png");
  margin-left: 210px;
  margin-top: 17.5px;
  width: 315px;
  height: 165px;
  background-size: 315px 165px;
  background-repeat:no-repeat;
}

.footer_label{
  color:white;
  position:absolute;
  font-size: 13pt;
  margin-left: 595px;
  margin-top: 17.5px;
  font-family:DFKai-sb;
}
