
.container{
  margin: 0 auto;
    max-width: 1280px;
    max-height: 600px;
    width:100%;
}
.container_large{
    margin: 0 auto;
    max-width: 1280px;
    max-height: 1028px;
    width:100%;
}
#indexSlides_1{
  margin: 0 auto;
  background-image: url("../image/contact_cover.jpg");
  opacity: 1;
  width: 100%;
  height: 550px;
  background-size: 100% 550px;
  background-repeat:no-repeat;
}
.logo{
  background-image: url("../image/logo.gif");
  position:absolute;
  margin-left: 0px;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-size: 65px 60px;
  background-repeat: no-repeat;
}
.logo_world_ch{
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 80px;
  margin-top: 20px;
}
.logo_world_en{
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 80px;
  margin-top: 40px;
}
.world_about{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 650px;
  margin-top: 27px;
}
.world_new{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 750px;
  margin-top: 27px;
}
.world_guide{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 850px;
  margin-top: 27px;
}
.world_axchange{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 950px;
  margin-top: 27px;
}
.world_contact{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 1050px;
  margin-top: 27px;
}
a div, p { transition: all .3s ease-in-out; }
a div:hover, p:hover { color:gray; transform: scale(1.1); }
.world_main_ch{
  color:black;
  font-weight: bold;
  font-style: italic;
  position:absolute;
  font-size: 34pt;
  margin-left: 440px;
  margin-top: 330px;
}
.world_main_en{
  color:black;
  font-style: italic;
  position:absolute;
  font-size: 34pt;
  margin-left: 390px;
  margin-top: 400px;
}
#indexSlides_2{
  margin: 0 auto;
  background-image: url("../image/border.png");
  width: 100%;
  height: 80px;
  background-size: 100% 80px;
  background-repeat:no-repeat;
}
.home_logo{
  position: absolute;
  background-image: url("../image/home_icon.png");
  z-index: 2;
  margin-left: 70px;
  margin-top: 32px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat:no-repeat;
}
.link_SS{
  position: absolute;
  margin-left: 124px;
  margin-top: 28px;
  font-size: 16pt;
  color:black;
}
.container_mini{
  margin: 0 auto;
    max-width: 1280px;
    max-height: 80px;
    width:100%;
}
#indexSlides_3{
  margin: 0 auto;
  background-image: url("../image/contact_bg.jpg");
  width: 100%;
  height: 1028px;
  background-size: 100% 1028px;
  background-repeat:no-repeat;
}
#human_pic_1{
  position:absolute;
  z-index:2;
  margin-left: 70px;
  margin-top: 100px;
  background-image: url("../image/contact_pic1.png");
  width: 154px;
  height: 181px;
  background-size: 154px 181px;
  background-repeat:no-repeat;
}
#human_pic_2{
  position:absolute;
  z-index:2;
  margin-left: 692px;
  margin-top: 100px;
  background-image: url("../image/contact_pic2.png");
  width: 154px;
  height: 181px;
  background-size: 154px 181px;
  background-repeat:no-repeat;
}
.text_1a{
  z-index:2;
  color:white;
  font-size: 14pt;
  font-weight: bold;
  position:absolute;
  margin-left: 280px;
  margin-top: 134px;
}
.text_1b{
  z-index:3;
  color:green;
  font-size: 14pt;
  font-weight: bold;
  position:absolute;
  margin-left: 279px;
  margin-top: 135px;
}
.text_2a{
  z-index:2;
  color:white;
  font-size: 14pt;
  font-weight: bold;
  position:absolute;
  margin-left: 902px;
  margin-top: 134px;
}
.text_2b{
  z-index:3;
  color:green;
  font-size: 14pt;
  font-weight: bold;
  position:absolute;
  margin-left: 901px;
  margin-top: 135px;
}
#human_pic_3{
  position:absolute;
  z-index:2;
  margin-left: 70px;
  margin-top: 373px;
  background-image: url("../image/contact_pic3.png");
  width: 154px;
  height: 181px;
  background-size: 154px 181px;
  background-repeat:no-repeat;
}
.text_3a{
  z-index:2;
  color:white;
  font-size: 14pt;
  font-weight: bold;
  position:absolute;
  margin-left: 280px;
  margin-top: 407px;
}
.text_3b{
  z-index:3;
  color:green;
  font-size: 14pt;
  font-weight: bold;
  position:absolute;
  margin-left: 279px;
  margin-top: 407px;
}
#human_pic_4{
  position:absolute;
  z-index:2;
  margin-left: 692px;
  margin-top: 373px;
  background-image: url("../image/contact_pic4.png");
  width: 154px;
  height: 181px;
  background-size: 154px 181px;
  background-repeat:no-repeat;
}
.text_4a{
  z-index:2;
  color:white;
  font-size: 14pt;
  font-weight: bold;
  position:absolute;
  margin-left: 902px;
  margin-top: 407px;
}
.text_4b{
  z-index:3;
  color:green;
  font-size: 14pt;
  font-weight: bold;
  position:absolute;
  margin-left: 901px;
  margin-top: 408px;
}
#human_pic_5{
  position:absolute;
  z-index:2;
  margin-left: 70px;
  margin-top: 647px;
  background-image: url("../image/contact_pic5.png");
  width: 154px;
  height: 181px;
  background-size: 154px 181px;
  background-repeat:no-repeat;
}
.text_5a{
  z-index:2;
  color:white;
  font-size: 14pt;
  font-weight: bold;
  position:absolute;
  margin-left: 280px;
  margin-top: 681px;
}
.text_5b{
  z-index:3;
  color:green;
  font-size: 14pt;
  font-weight: bold;
  position:absolute;
  margin-left: 279px;
  margin-top: 681px;
}
#human_pic_6{
  position:absolute;
  z-index:2;
  margin-left: 692px;
  margin-top: 647px;
  background-image: url("../image/contact_pic6.png");
  width: 154px;
  height: 181px;
  background-size: 154px 181px;
  background-repeat:no-repeat;
}
.text_6a{
  z-index:2;
  color:white;
  font-size: 14pt;
  font-weight: bold;
  position:absolute;
  margin-left: 902px;
  margin-top: 681px;
}
.text_6b{
  z-index:3;
  color:green;
  font-size: 14pt;
  font-weight: bold;
  position:absolute;
  margin-left: 901px;
  margin-top: 681px;
}
#foother_slides{
  margin: 0 auto;
  background-image: url("../image/footer_bg.jpg");
  width: 100%;
  height: 200px;
  background-size: 100% 200px;
  background-repeat:no-repeat;
}
.footer_map{

  position: absolute;
  background-image: url("../image/footer_pic.jpg");
  margin-left: 215px;
  margin-top: 22.5px;
  z-index: 3;
  width: 305px;
  height: 155px;
  background-size: 305px 155px;
  background-repeat:no-repeat;
}
.footer_bg_white{
  position: absolute;
  background-image: url("../image/footer_pic2.png");
  margin-left: 210px;
  margin-top: 17.5px;
  width: 315px;
  height: 165px;
  background-size: 315px 165px;
  background-repeat:no-repeat;
}

.footer_label{
  color:white;
  position:absolute;
  font-size: 13pt;
  margin-left: 595px;
  margin-top: 17.5px;
  font-family:DFKai-sb;
}
.big_Border{
  margin-top: 40px;
  position: absolute;
  opacity: 0.5;
  width:1280px;
  height: 912px;
    background-color: #F0F8FF;
}
