
.container{
  margin: 0 auto;
    max-width: 1280px;
    max-height: 600px;
    width:100%;
}
#indexSlides_1{
  margin: 0 auto;
  background-image: url("../image/guide_cover.jpg");
  opacity: 1;
  width: 100%;
  height: 550px;
  background-size: 100% 550px;
  background-repeat:no-repeat;
}
.logo{
  background-image: url("../image/logo.gif");
  position:absolute;
  margin-left: 0px;
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-size: 65px 60px;
  background-repeat: no-repeat;
}
.logo_world_ch{
  color:black;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 80px;
  margin-top: 20px;
}
.logo_world_en{
  color:black;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 80px;
  margin-top: 40px;
}
.logo_world_ch1{
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 78px;
  margin-top: 18px;
}
.logo_world_en1{
  color:white;
  position:absolute;
  font-weight: bold;
  font-size: 12pt;
  margin-left: 79px;
  margin-top: 38px;
}

.language_en1{
  color:white;
  font-style: italic;
  font-size: 10pt;
  position:absolute;
  margin-left: 1078px;
  margin-top: 3px;
}
.language_line1{
  color:white;
  font-style: italic;
  font-size: 12pt;
  position:absolute;
  margin-left: 1101px;
  margin-top: 2px;
}
.language_ch1{
  color:white;
  font-style: italic;
  font-size: 10pt;
  position:absolute;
  margin-left: 1108px;
  margin-top: 4px;
}
.language_en{
  color:black;
  font-style: italic;
  font-size: 10pt;
  position:absolute;
  margin-left: 1080px;
  margin-top: 5px;
}
.language_line{
  color:black;
  font-style: italic;
  font-size: 12pt;
  position:absolute;
  margin-left: 1103px;
  margin-top: 4px;
}
.language_ch{
  color:black;
  font-style: italic;
  font-size: 10pt;
  position:absolute;
  margin-left: 1110px;
  margin-top: 6px;
}
.world_about{
  color:black;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 650px;
  margin-top: 27px;
}
.world_new{
  color:black;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 750px;
  margin-top: 27px;
}
.world_guide{
  color:black;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 850px;
  margin-top: 27px;
}
.world_axchange{
  color:black;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 950px;
  margin-top: 27px;
}
.world_contact{
  color:black;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 1050px;
  margin-top: 27px;
}

.world_about1{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 648px;
  margin-top: 25px;
}
.world_new1{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 748px;
  margin-top: 25px;
}
.world_guide1{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 848px;
  margin-top: 25px;
}
.world_axchange1{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 948px;
  margin-top: 25px;
}
.world_contact1{
  color:white;
  font-style: italic;
  font-size: 14pt;
  position:absolute;
  margin-left: 1048px;
  margin-top: 25px;
}

.world_main_ch{
  z-index: 5;
  color:black;
  font-style: italic;
  position:absolute;
  font-size: 60pt;
  margin-left: 469px;
  margin-top: 330px;
}
.world_main_ch_p{
  color:white;
  font-style: italic;
  position:absolute;
  font-size: 60pt;
  margin-left: 468px;
  margin-top: 328px;
}
.world_main_en{ 
  z-index: 5;
  color:black;
  font-style: italic;
  position:absolute;
  font-size: 34pt;
  margin-left: 550px;
  margin-top: 451px;
}
.world_main_en_p{
  color:white;
  font-style: italic;
  position:absolute;
  font-size: 34pt;
  margin-left: 549px;
  margin-top: 450px;
}
#indexSlides_2{
  margin: 0 auto;
  background-image: url("../image/border.png");
  width: 100%;
  height: 80px;
  background-size: 100% 80px;
  background-repeat:no-repeat;
}
.home_logo{
  position: absolute;
  background-image: url("../image/home_icon.png");
  z-index: 2;
  margin-left: 70px;
  margin-top: 32px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat:no-repeat;
}
.link_SS{
  position: absolute;
  margin-left: 124px;
  margin-top: 28px;
  font-size: 16pt;
  color:black;
}
.container_mini{
  margin: 0 auto;
    max-width: 1280px;
    max-height: 80px;
    width:100%;
}
#indexSlides_3{
  margin: 0 auto;
  background-image: url("../image/guide_bg.jpg");
  width: 100%;
  height: 1228px;
  background-size: 100% 1228px;
  background-repeat:no-repeat;
}

.pic01,.pic02,.pic03,
.pic11,.pic12,.pic13,
.pic21,.pic22,.pic23{
  position: absolute;
  background-image: url("../image/international_pic1.png");
  margin-left: 140px;
  margin-top: 80px;
  width: 100px;
  height: 100px;
  background-size: 90px 80px;
  background-repeat:no-repeat;
}

.pic01{
background-image: url("../image/guide_icon1.png");
}
.pic02{
background-image: url("../image/guide_icon2.png");
}
.pic03{
background-image: url("../image/guide_icon3.gif");
}

.pic11{
background-image: url("../image/guide_icon4.png");
}
.pic12{
background-image: url("../image/guide_icon5.png");
}
.pic13{
background-image: url("../image/guide_icon6.png");
}

.pic21{
background-image: url("../image/guide_icon7.png");
}
.pic22{
background-image: url("../image/guide_icon8.png");
}
.pic23{
background-image: url("../image/guide_icon9.png");
}


.label_01,.label_02,.label_03,
.label_11,.label_12,.label_13,
.label_21,.label_22,.label_23{
  position: absolute;
  color:black;
  font-style: italic;
  font-weight: bold;
  font-size: 20pt;
  position:absolute;
  margin-top: 200px;
  text-align:center;
}
.label_02,.label_01{margin-left: 109px;}
.label_03{margin-left: 127.5px;}
.label_11{margin-left: 79.5px;}
.label_12{margin-left: 122px;}
.label_13{margin-left: 121px;}
.label_21{margin-left: 95.5px;}
.label_22{margin-left: 119px;}
.label_23{margin-left: 154px;}

.box01,.box11,.box21{
    margin-top: 50px;
    margin-left: 50px;
    width:370px;
    height: 340px;
}
.box02,.box03,.box12,.box13,.box22,.box23{
    margin-top: 30px;
    margin-left: 390px;
    width:370px;
    height: 340px;
}
.box01{
    background-color: rgba(167, 123, 0, 0.73);
}
.box02{
    background-color: rgba(228, 98, 230, 0.73);
}
.box03{
    background-color: rgba(126, 0, 167, 0.73);
}
.box11{
    background-color: rgba(228, 255, 0, 0.73)  ;
}
.box12{
    background-color: rgba(91, 232, 255, 0.73);
}
.box13{
    background-color: rgba(107, 107, 107, 0.73);
}
.box21{
    background-color: rgba(253, 64, 64, 0.73);
}
.box22{
    background-color: rgba(76, 74, 216, 0.73);
}
.box23{
    background-color: rgba(54, 175, 64, 0.68);
}
#foother_slides{
  margin: 0 auto;
  background-image: url("../image/footer_bg.jpg");
  width: 100%;
  height: 200px;
  background-size: 100% 200px;
  background-repeat:no-repeat;
}
.footer_map{
  position: absolute;
  background-image: url("../image/footer_pic.jpg");
  margin-left: 215px;
  margin-top: 22.5px;
  z-index: 3;
  width: 305px;
  height: 155px;
  background-size: 305px 155px;
  background-repeat:no-repeat;
}
.footer_bg_white{
  position: absolute;
  background-image: url("../image/footer_pic2.png");
  margin-left: 210px;
  margin-top: 17.5px;
  width: 315px;
  height: 165px;
  background-size: 315px 165px;
  background-repeat:no-repeat;
}

.footer_label{
  color:white;
  position:absolute;
  font-size: 13pt;
  margin-left: 595px;
  margin-top: 17.5px;
  font-family:DFKai-sb;
}
