.container{
  max-width: 1280px;
  max-height: 2120px;
  
}

#indexSlides_1{
  margin: 0 auto;
  background-image: url("image/tjz_4.jpg");
  width: 97.9vw;
  height: 550px;
  margin-left: -8px;
  margin-top: -8px;
  background-size: 100% 550px;
  background-repeat:no-repeat;
}
.logo{
  background-image: url("image/mark003.gif");

  position:absolute;
  margin-left: 170px;
  margin-top: 50px;
  width: 70px;
  height: 70px;
  background-size: 75px 70px;
  background-repeat: no-repeat;
}
.logo_world_ch{
  color:white;
  position:absolute;
  margin-left: 260px;
  margin-top: 67px;
}
.logo_world_en{
  color:white;
  position:absolute;
  margin-left: 260px;
  margin-top: 87px;
}
.world_about{
  color:white;
  font-style: italic;
  position:absolute;
  margin-left: 910px;
  margin-top: 67px;
}
.world_new{
  color:white;
  font-style: italic;
  position:absolute;
  margin-left: 1080px;
  margin-top: 67px;
}
.world_guide{
  color:white;
  font-style: italic;
  position:absolute;
  margin-left: 1250px;
  margin-top: 67px;
}
.world_axchange{
  color:white;
  font-style: italic;
  position:absolute;
  margin-left: 1420px;
  margin-top: 67px;
}
.world_contact{
  color:white;
  font-style: italic;
  position:absolute;
  margin-left: 1590px;
  margin-top: 67px;
}
