.container{
  position: absolute;
  width: 100%;
  height: 2120px;
  margin-left: -8px;
  margin-top: -8px;

}
#mySlides_1{
  background-image: url("image/tjz_4.jpg");
  width: 100%;
  height: 550px;
  background-size: 100% 550px;
  background-repeat:no-repeat;
}
#mySlides_2{
  background-image: url("image/about_bg.jpg");
  width: 100%;
  height: 550px;
  background-size: 100% 550px;
  background-repeat:no-repeat;
}
